{
box-sizing: border-box;
}

body {
  margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f1f9e8;
   background-size: 100% 700px;
   font-family: Allan;
}

#search1{
     padding-left: 150px;
}

.submit{
min-width: 40px;
min-height: 40px;
}

.topnav {
  overflow: hidden;
  background-color: #F6F7DD;
    margin-right: 50px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.left{
    padding-bottom: 40px;
}

.topnav a.active {
  background-color: #36520F;
  color: white;
}

.topnav .search-container {
  float: left;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}


@media screen and (max-width: 600px) {
  .topnav .search-container{
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
   
}
@media screen and (max-width: 800px) {
 #search1{
        padding-left: 50px;
    }
}

body {
  /*background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);*/
    font: 13px 'Lucida sans', Arial, Helvetica;
    color: black;
    text-align: center;
    background-color: #f5f5f5;
    overflow-x: hidden
}

#vd{
    display: block; !important
}

a {
  color: black;
}

/*-------------------------------------*/

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

/*-------------------------------------*/

.headerDiv{
    padding: 5px 20px 10px;
    background-color: #0049a0;
}

.row
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 42px;
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid white;
}
.columnLeft img{
    max-width:150px;
    max-height:50px;
}

.columnLeft {
    float: left;
    width: 20%;
    text-align: right;
    margin: 0 auto;
    vertical-align: middle;
}

.columnMiddle {
    float: left;
    width: 20%;
    text-align: left;
    vertical-align: middle;
}
.columnMiddle img{
    max-width:150px;
    max-height:50px;
}

.columnRight {
    float: left;
    width: 20%;
    text-align: left;
    vertical-align: middle;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.byline {
    text-align:left;
    padding-left: 10%;
}
.byline p{
  color: #102513;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;
}

.form-wrapper {
    width: 85%;
    /*padding: 10px;*/
    /*margin: 3px;*/
    background: #444;
    background: rgba(0,0,0,.01);
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
}
.form-wrapper input::before{
    background-color: rgba(16, 37, 19, 0.96);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}


.form-wrapper input {
    width: 45%;
    height: 20px;
    padding: 10px 1%;
    padding-left: 40px;
    margin-right: 10px;
    float: right;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background-color: white;
    background-image: url('../images/search-logo.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/*----------------------------------------*/
video {
    width: 90%;
    object-fit: cover;
    padding-bottom:10px
}

tr:nth-child(odd) {background: rgba(245, 245, 245, 1)
}
tr:nth-child(even) {background: rgba(24, 76, 154, 0.05)
}

.videoname{
    font-weight: bold;
    font-size: large;
    padding-bottom: .5em;
    padding-left: 1em;
    float: left;
    text-shadow: 1px 1px #acacac;
}
.videoDiv{
    float: left;
    width: 50%;
    padding-left: 3em;
}

.videoDetailsDiv{
    position: relative;
    float: right;
    width: 50%;
    padding-right: 1em;
}

.videoSearch:before {
    content: "";
    display: table;
    clear: both;
}
.videoSearch {
    display: flex;
    flex: 50%;
    padding-bottom: 1em;
    padding-top: 1em;
}

@media screen and (max-width: 200px) {
    .videoDiv{
        width: 100%;
    }
    .videoDetailsDiv{
        width: 100%;
    }
}

.timeDiv{
    float: bottom;
    width: 40%;
}

.transcriptDiv{
    float: top;
    width: 60%;
}
/*---------------------------------*/


.btn {
    /*margin: .2em auto;*/
    padding: 12px 30px;

    overflow: hidden;

    border: none;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #0b78d1;
    color: #ecf0f1;

    cursor: pointer;
    /*font-size: 1em;*/

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #0049a0;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    /*content: "";*/

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/*!* Styles, not important *!
*, *:before, *:after {
    box-sizing: border-box;
}*/

.btn.orange {
    background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
}

.btn.green {
    background-color: #74be50;
}

.btn.green:hover, .btn.green:focus {
    background-color: #4d994d;
}

.btn.red {
    background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
}

.fa{
    padding-right: 7px;
}

.countToolbar{
    height: 64px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: whitesmoke;
    color: rgba(0, 0, 0, 0.87);
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    padding-left: 2em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.countText{
    font-weight: bold;
    text-shadow: 1px 1px gray;
}

.countDigit{
    font-style:italic;
    color:gray;
}

.timeButton{
    margin: unset;
    margin-right:10px;
    margin-bottom:10px;
    width:10%;
    padding: 10px 10px;!important;
}

.timeButtonHolder{
    position: absolute;
    top: 0px;
    max-height:34%;
    flex: fit-content;
    width: 100%;
    margin: auto;
    float: bottom;
    vertical-align: bottom;
    justify-content: flex-end;
    overflow-y: auto;
}

.subtitle{
    position: absolute;
    padding-top: 2em;
    padding-right: 1em;
    bottom: 0;
    height:60%;
    flex: border-box;
    overflow-scrolling: auto;
    width: 100%;
    margin: auto;
    vertical-align: middle;
    float: end;
}

.subtitletext{
    overflow-y: auto;
    height: 90%;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-right: 1em;
}


/*----------------*/

.border-top{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}