{
box-sizing: border-box;
}

body {
  margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f1f9e8;
   background-size: 100% 700px;
   font-family: Allan;
}

#search1{
     padding-left: 150px;
}

.submit{
min-width: 40px;
min-height: 40px;
}

.topnav {
  overflow: hidden;
  background-color: #F6F7DD;
    margin-right: 50px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.left{
    padding-bottom: 40px;
}

.topnav a.active {
  background-color: #36520F;
  color: white;
}

.topnav .search-container {
  float: left;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}


@media screen and (max-width: 600px) {
  .topnav .search-container{
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
   
}
@media screen and (max-width: 800px) {
 #search1{
        padding-left: 50px;
    }
}

body {
  /*background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);*/
  font: 13px 'Lucida sans', Arial, Helvetica;
  color: #eee;
  text-align: center;
    background-color: #f5f5f5;
}

a {
  color: #ccc;
}

/*-------------------------------------*/

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

/*-------------------------------------*/

.headerDiv{
    padding-left:20px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right:20px;
    background-color: #0f4b9e;
}

.row
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 42px;
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid white;
}
.columnLeft img{
    max-width:150px;
    max-height:50px;
}

.columnLeft {
    float: left;
    width: 20%;
    text-align: right;
    margin: 0 auto;
    vertical-align: middle;
}

.columnMiddle {
    float: left;
    width: 20%;
    text-align: left;
    vertical-align: middle;
}
.columnMiddle img{
    max-width:150px;
    max-height:50px;
}

.columnRight {
    float: left;
    width: 20%;
    text-align: left;
    vertical-align: middle;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.byline {
    text-align:left;
    padding-left: 10%;
}
.byline p{
  color: #102513;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;
}

.form-wrapper {
    width: 85%;
    /*padding: 10px;*/
    /*margin: 3px;*/
    background: #444;
    background: rgba(0,0,0,.01);
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
}
.form-wrapper input::before{
    background-color: rgba(16, 37, 19, 0.96);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}


.form-wrapper input {
    width: 45%;
    height: 20px;
    padding: 10px 1%;
    padding-left: 40px;
    margin-right: 10px;
    float: right;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background-color: white;
    background-image: url('../images/search-logo.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /*background:url("../images/search-logo.png") no-repeat left scroll;*/
    /*-moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;*/
}


/*.form-wrapper input:focus {
    outline: 0;
    width: 85%;
   !* background: #fff;
    background:url("../images/search-logo.png") no-repeat left scroll;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;*!
}*/

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.videoDiv{
    float: left;
    width: 50%;
}

.videoDetailsDiv{
    float: left;
    width: 50%;
}

.videoSearch:before {
    content: "";
    display: table;
    clear: both;
}
.videoSearch {
    display: flex;
    flex: 50%;
}

/*.column {
    flex: 50%;
}*/

@media screen and (max-width: 600px) {
    .videoDiv .videoDetailsDiv{
        width: 100%;
    }
}
